<!DOCTYPE html>
<html lang="{{ app.request.locale|default('cs') }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{{ 'app.title'|trans }}{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/favicon.svg') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}

        {% if app.debug %}
            {% set frankenphpHotReload = app.request.server.get('FRANKENPHP_HOT_RELOAD') %}
            {% if frankenphpHotReload %}
            <meta name="frankenphp-hot-reload:url" content="{{ frankenphpHotReload }}">
            <script src="https://cdn.jsdelivr.net/npm/idiomorph"></script>
            <script src="https://cdn.jsdelivr.net/npm/frankenphp-hot-reload/+esm" type="module"></script>
            {% endif %}
        {% endif %}
    </head>
    <body class="bg-gray-50 text-gray-900 min-h-screen">
        {% block body %}{% endblock %}
    </body>
</html>
